[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
drf-yasg = "*"
pillow = "*"
python-decouple = "*"
django-nose = "*"
coverage = "*"
celery = "*"
flower = "*"
django-redis = "*"
mysqlclient = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.9"
